<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Hello Application{% endblock %}</title>
    </head>
    <body>
        {% block body %}
            <nav id="main">
                {{ menu('main') }}
            </nav>		
		{% endblock %}
    </body>
</html>
